@model wwwroot.Models.PersonaModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = @Model.Nombre;
}

<div class="personacontainer" style="background-color:@Model.Color;">
    <div class="personamain">
        <h1 class="personatitulo">@Model.Nombre</h1>
        @RenderBody()
        <p>
            El color que te toca en hexadecimal es <font color="@Model.Color">@Model.Color</font>
            y en version pantone es <font color="@Model.Color">@Model.ColorPantone</font>
        </p>
        <div class="colorsample" style="background-color:@Model.Color;">
            <a href="@string.Format("http://www.color-hex.com/color/{0}", @Model.Color.Replace("#", ""))">Color</a>
        </div>
        <br />
        <p>
            Cualquier cosa contactanos :D
        </p>
    </div>
</div>